<ion-view view-title="التعريف بنا">            
	<ion-content class="ionic-body" has-header="true" padding="true">    

        <div class="serv-position clearfix">
            <div class="serv">
                <div class="serv-img"><img src="img/office.png"></div>    
                <h3> مكتبكم في سطور </h3>
                <p dir="rtl">
                <b>
     التأسيس :
</b><br>
تأسس المكتب عام 1412 هـ بموافقة من الرئاسة العامة للبحوث العلمية والإفتاء والدعوة والإرشاد
<br>
<b>
الإشراف :
</b><br>
تشرف على المكتب وزارة الشؤون الإسلامية والأوقاف والدعوة والإرشاد
<br><b>
الدعم :
</b>
<br>
يقوم المكتب بعد توفيق الله تعالى على دعم أهل الخير والعطاء في هذه البلد المعطاء .
<br><b>
الجهود :
</b>
<br>
يقوم المكتب على التعاون والاحتساب ويضم عددا من المتطوعين لهذا العمل الدعوي الخيري .
<br>
<b>
الدعاة واللغات  :
</b><br>
يكفل المكتب عدد من الدعاة بلغات مختلفة وهم من المؤهلين علميا لتولي مثل هذه المهام ويستطيع المكتب التعامل  مع اللغات الأخرى  وهي : 
<br>
( البنغالية – الأردية – الهندية – الكيرلا – التاميلية – السنهالية – النيبالية – الفلبينية – الانجليزية -  الاندونيسية- البشتو – التلغو – الأثيوبية – التركية – الفرنسية – الصينية – السواحيلية – التايلندية – الروسية    )  .
</p>
            </div>
        </div>
        
        <div class="serv-position clearfix">
            <div class="serv">
                <div class="serv-img"><img src="img/office.png"></div>    
                <h3> أهداف المكتب </h3>
<p dir="rtl">

<br>
* المحافظة على الفطرة , بدعوة  الناس إلى العقيدة الإسلامية الصحيحة ومفهومها وحمايتها  
<br>
* تحقيق الطاعة لله والطاعة لرسوله ولأولي الأمر. 
<br>
* إحياء السنة , ونشرها , وإماتة البدعة , والتحذير منها , وربط الناس بمنهج السلف الصالح .
<br>
* نشر العلم النافع , وتبصير المسلمين بأمور دينهم عقيدة وعبادة معاملةً وأخلاقاً .
<br>
* دعوة غير المسلمين للدخول في الإسلام  , وتعريفهم به , وبيان محاسنه لهم وتصحيح المفاهيم المغلوطة عنه .
<br>
* رعاية من يدخلون في الإسلام , وتعليمهم أصوله , والاعتناء بهم , والتواصل معهم , وتعريفهم بالمركز والمؤسسات الإسلامية في الداخل والخارج .  
<br>
* مقاومة الهجمات الفكرية والعقائدية على الإسلام والمسلمين والذب عن هذا الدين وأهله . 
<br>
* التعاون مع الجهات الرسمية والخيرية في مجال الدعوة إلى الله تعالى .
<br>
<font color="#15B880">
وقد أسلم عدد كبير ولله الحمد والمنة وتم تصحيح مفاهيم كثير من 
المسلمين إلى  إعتناق طريق  السنة المباركة 
<br></font>
</p>  
            </div>            		   
        </div>

        <div class="serv-position clearfix">
			<button class="btn btn-success btn-lg btn-block btn-default" ng-click="download()">            تقرير المكتب السنوي</button>
			<button class="btn btn-success btn-lg btn-block btn-default" ng-click="download()">            تقرير المكتب السنوي</button>                  
	</ion-content>
</ion-view>