<ion-view view-title=" متابعة المسلمين الجدد">            
	<ion-content class="ionic-body" has-header="true" padding="true">    
              
  <div class="col-md-6 col-md-offset-3" style="padding-top:20px"> 
    
    <div data-ng-controller="dawaCtrl">
    	<div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages">
	    	<div data-ng-show="progress.active()" style="color: red; font-size: 20px; margin: 0 auto;">جاري ارسال</div>
		</div>
        
    	<form name="helpForm" ng-model="helpForm" novalidate role="form">
			<div class="form-group">
                <span class="label label-danger" data-ng-show="submitted && helpForm.name.$error.required">Required!</span>
                <input dir="rtl" placeholder="اسم المسلم\ىة الجديد" type="text" name="name" data-ng-model="name" class="form-control" required />
    		</div>      

		    <div class="form-group">
                <label for="natList">الجنسية</label>
                <div style="clear:both"></div>
                <span class="label label-danger" data-ng-show="submitted && helpForm.natList.$error.required">Required!</span>                
                <select id="natList" name="natList" data-ng-model="natList" class="form-control">
                    <option value="الهندية">الهندية</option>
                    <option value="الفلبينية">الفلبينية</option>
                    <option value="النيبالية">النيبالية</option>
                    <option value="الاثيوبية">الاثيوبية</option>
                    <option value="البنغالية">البنغالية</option>
                    <option value="السيرلانكية">السيرلانكية</option>
                    <option value="الكينية">الكينية</option>
                    <option value="النيجيرية">النيجيرية</option>
                    <option value="الاندونيسية">الاندونيسية</option>
                    <option value="أخرى">أخرى</option>
                </select>
            </div>
            
		    <div class="form-group">
                <label for="langList">اللغة</label>
                <div style="clear:both"></div>
                <select id="langList" name="langList" data-ng-model="langList" class="form-control">
                    <option value="الهندية">الهندية</option>
                    <option value="الاوردية">الاوردية</option>
                    <option value="التاميلية">التاميلية</option>
                    <option value="التلغو">التلغو</option>
                    <option value="الكيرلا ">الكيرلا/مليباري </option>
                    <option value="الفلبينية">الفلبينية</option>
                    <option value="النيبالية">النيبالية</option>
                    <option value="الامهرية">الامهرية</option>
                    <option value="الارومية">الارومية</option>
                    <option value="البنغالية">البنغالية</option>
                    <option value="السنهالية">السنهالية</option>
                    <option value="الانجليزية">الانجليزية</option>
                    <option value="الهوسا">الهوسا</option>
                    <option value="الفرنسية">الفرنسية</option>
                    <option value="الاندونيسية">الاندونيسية</option>
                    <option value="أخرى">أخرى</option>
                </select>
            </div>
                        
            <div class="form-group">
                <span class="label label-danger" data-ng-show="submitted && helpForm.tel.$error.required">Required!</span>
<!--                <span class="label label-danger" data-ng-show="submitted && helpForm.tel.$error">Invalid phone numer</span> -->
                <input dir="rtl" type="tel" placeholder="رقم الجوال" name="telDai" data-ng-model="telDai" class="form-control" required />
            </div>
            
			<div class="form-group">
                <input dir="rtl" placeholder="اسم الكفيل" type="text" name="nameKafil" data-ng-model="nameKafil" class="form-control" required />
    		</div> 
                        
            <div class="form-group">
<!--                <span class="label label-danger" data-ng-show="submitted && helpForm.tel.$error">Invalid phone numer</span> -->
                <input dir="rtl" type="tel" placeholder="رقم الجوال" name="telKafil" data-ng-model="telKafil" class="form-control" required />
            </div>
            
			<input type="hidden" name="db" ng-init="db='dawanew'" ng-model="db">

		    <button data-ng-disabled="progress.active()" data-ng-click="submit(helpForm)" class="btn btn-success btn-lg btn-block btn-default">
			<span class="glyphicon glyphicon-flash"></span>
			الإرسال</button>
    	</form>
        
  </div>
</div>      
      
	</ion-content>
</ion-view>