<ion-view view-title="مشروع الترجمة">            
	<ion-content class="ionic-body" has-header="true" padding="true">    

<div class="serv-position clearfix">
    <div class="serv">
        <div class="serv-img"><img src="img/trans.png"></div>    
        <h3> خدمة وتبرع </h3>
<p dir="rtl">
                 سيتم تفعيل مشروع الترجمة باسلوب احترافي وتحت رقابة و اشراف من ادارة المكتب و  وذلك لما رايناه و لمسناه في الميدان الدعوي و لما يعانيه
             الكثير من الكفلاء  من عدم القدرة على التواصل مع العمالة المنزلية في اللغة و خصوصا في ما يتعلق ببعض الاوامر الخاصة بالنظافة والتنظيم او تحويل الرواتب او في حال حصول مشاكل مع اهل الخادمة <br>
        
        يقدم المكتب التعاوني مشروع الترجمة تجاوبا مع الطلب المتزايد من الكفلاء بعد المنع الطويل من ادارة المكتب لخدمتهم و اتاحة فرصة اكبر في مجال الدعوة  وفق معايير وضعتها ادارة المكتب وهي كالتالي : 	<br>
		
		<font color="#15B880">
        
        - يتم طلب الخدمة وتحديد الموعد عن طريق التطبيق <br>
        
        - منح الكفلاء وقت لا يزيد على الساعة  لانشغال الدعاة <br>
        
        - تقدم الترجمة  بالمكتب او عن طريق الهاتف <br>
        
        - لا تعني الترجمة طلب استقدام خادمات وانما فقط للامور الشخصية <br>
        
        - المكتب غير مسؤول عن اي ترجمة  لم تخضع للشروط  الموضحة <br>
        </font>
        </p>
    </div>
</div>

  <div class="col-md-6 col-md-offset-3"> 
    <!-- PAGE TITLE -->
<!--    <div class="page-header">

	  <ul id="app-status-ul">Waiting for input</ul>
    </div>
-->    
    <div data-ng-controller="transCtrl">
    	<div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
	    <!--
        <div data-ng-show="progress.active()" style="color: red; font-size: 50px;">يرسل...</div>
		-->
    	<form name="helpForm" ng-model="helpForm" novalidate role="form">
			<div class="form-group">
                <span class="label label-danger" data-ng-show="submitted && helpForm.name.$error.required">Required!</span>
                <input dir="rtl" placeholder="الإسم الرباعي" type="text" name="name" data-ng-model="name" class="form-control" required />
    		</div>      

            <div class="form-group">
                <span class="label label-danger" data-ng-show="submitted && helpForm.tel.$error.required">Required!</span>
<!--                <span class="label label-danger" data-ng-show="submitted && helpForm.tel.$error">Invalid phone numer</span> -->
                <input dir="rtl" type="tel" placeholder="رقم الجوال" name="tel" data-ng-model="tel" class="form-control" required />
            </div>

		    <div class="form-group">
                <label dir="rtl" for="natList">جنسية الخادمة</label>
                <div style="clear:both"></div>
                <span class="label label-danger" data-ng-show="submitted && helpForm.natList.$error.required">Required!</span>                
                <select id="natList" name="natList" data-ng-model="natList" class="form-control">
                    <option value="الهندية">الهندية</option>
                    <option value="الفلبينية">الفلبينية</option>
                    <option value="النيبالية">النيبالية</option>
                    <option value="الاثيوبية">الاثيوبية</option>
                    <option value="البنغالية">البنغالية</option>
                    <option value="السيرلانكية">السيرلانكية</option>
                    <option value="الكينية">الكينية</option>
                    <option value="النيجيرية">النيجيرية</option>
                    <option value="الاندونيسية">الاندونيسية</option>
                    <option value="أخرى">أخرى</option>
                </select>
            </div>     


		    <div class="form-group">
                <label dir="rtl" for="langList">لغة الخادمة</label>
                <div style="clear:both"></div>
                <span class="label label-danger" data-ng-show="submitted && helpForm.natList.$error.required">Required!</span>                
                <select id="langList" name="langList" data-ng-model="langList" class="form-control">
                    <option value="الهندية">الهندية</option>
                    <option value="الاوردية">الاوردية</option>
                    <option value="التاميلية">التاميلية</option>
                    <option value="التلغو">التلغو</option>
                    <option value="الكيرلا ">الكيرلا/مليباري </option>
                    <option value="الفلبينية">الفلبينية</option>
                    <option value="النيبالية">النيبالية</option>
                    <option value="الامهرية">الامهرية</option>
                    <option value="الارومية">الارومية</option>
                    <option value="البنغالية">البنغالية</option>
                    <option value="السنهالية">السنهالية</option>
                    <option value="الانجليزية">الانجليزية</option>
                    <option value="الهوسا">الهوسا</option>
                    <option value="الفرنسية">الفرنسية</option>
                    <option value="الاندونيسية">الاندونيسية</option>
                    <option value="أخرى">أخرى</option>
                </select>
            </div>                        
                   

			<div class="form-group">
                <input dir="rtl" placeholder="اسم الخادمة" type="text" name="nameServent" data-ng-model="nameServent" class="form-control" required />
    		</div> 
            
			    <div class="form-group">
                <label dir="rtl" for="time">الوقت المطلوب</label>
                <div style="clear:both"></div>
                <span class="label label-danger" data-ng-show="submitted && helpForm.natList.$error.required">Required!</span>                
                <select id="time" name="time" data-ng-model="time" class="form-control">
                    <option value="15">ربع ساعة = السعر 25 ريال 
</option>
                    <option value="30">نصف ساعة = السعر 50 ريال 
</option>
                    <option value="45">٤٥ دقيقة = السعر  75 ريال</option>
                </select>
            </div>              
			
            <div class="form-group">
                <label dir="rtl" for="transList">نوع الترجمة</label>
                <div style="clear:both"></div>
                <span class="label label-danger" data-ng-show="submitted && helpForm.natList.$error.required">Required!</span>                
                <select id="transList" name="transList" data-ng-model="transList" class="form-control">
                    <option value="ترجمة رسالة">ترجمة رسالة</option>
                    <option value="تحويل اموال">تحويل أموال</option>
                    <option value="نصائح و ارشادات">نصائح وإرشادات</option>
                    <option value="التواصل مع عائلاتهم">التواصل مع عائلاتهم</option>
                    <option value="اعلانات">اعلانات</option>
                    <option value="كتب  مطويات">كتب  مطويات</option>
                    <option value="مكالمة هاتفية">مكالمة هاتفية</option>
                </select>
            </div>
            <div class="form-group">
<!--                <span class="label label-danger" data-ng-show="submitted && helpForm.tel.$error">Invalid phone numer</span> -->
                <input dir="rtl" type="tel" placeholder="رقم الحساب الذي تم تحويل المبلغ من خلاله" name="accountnr" data-ng-model="accountnr" class="form-control" required />
            </div>
            

		    <button data-ng-disabled="progress.active()" data-ng-click="submit(helpForm)" class="btn btn-success btn-lg btn-block btn-default">
			<span class="glyphicon glyphicon-flash"></span>
			الإرسال</button>
    	</form>
  </div>
</div>     
   
  </ion-content>
</ion-view>