<ion-view view-title="العمل التطوعي">            
	<ion-content class="ionic-body" has-header="true" padding="true">    

<div class="serv-position clearfix">
    <div class="serv">
        <div class="serv-img"><img src="img/work.png"></div>    
        <h3>  قريبا جدا   </h3>
<p dir="rtl">
        
        يعد العمل التطوعي وحجم المساهمة فيه رمزاً من رموز تقدم الأمم وازدهارها، فالأمة كلما ازدادت في التقدم والرقي، ازدادت مساهمات مواطنيها في أعمال التطوع الخيري ومجالات العمل الخيري عديدة ومتنوعة خصوصا ان كانت تقام  وفق معايير تساعد على نجاحه واستمراره
        في بيئة تعزز العمل التطوعي الخيري وتساعد في الابداع فيه  لذا  يعتزم المكتب التعاوني بحفر الباطن ان يقيم مشروع العمل التطوعي بحلته الجديدة بحيث يضمن للمشاركين  التخصصية وفق مهاراتهم و مؤهلاتهم و للمكتب التطوير و التنظيم و اثراء المشاريع بكل ما هو جديد .<br>
      لذا يسرنا ان نضع بين يديك استمارة التسجيل في العمل التطوعي 
<br />       
        </p>
	</div>
</div>

  <div class="col-md-6 col-md-offset-3" style="padding-top:20px"> 
    <!-- PAGE TITLE -->
<!--    <div class="page-header">

	  <ul id="app-status-ul">Waiting for input</ul>
    </div>
-->    
    <div data-ng-controller="workCtrl">
    	<div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
	    <!--
        <div data-ng-show="progress.active()" style="color: red; font-size: 50px;">يرسل...</div>
		-->
    	<form name="helpForm" ng-model="helpForm" novalidate role="form">
			<div class="form-group">
                <span class="label label-danger" data-ng-show="submitted && helpForm.name.$error.required">Required!</span>
                <input dir="rtl" placeholder="اسم المتعاون آو المتعاونة" type="text" name="name" data-ng-model="name" class="form-control" required />
    		</div>      

            <div class="form-group">
                <span class="label label-danger" data-ng-show="submitted && helpForm.tel.$error.required">Required!</span>
<!--                <span class="label label-danger" data-ng-show="submitted && helpForm.tel.$error">Invalid phone numer</span> -->
                <input dir="rtl" type="tel" placeholder="رقم الجوال" name="tel" data-ng-model="tel" class="form-control" required />
            </div>

		    <div class="form-group">
                <label dir="rtl" for="natList">الجنسية</label>
                <div style="clear:both;"></div>
                <span class="label label-danger" data-ng-show="submitted && helpForm.natList.$error.required">Required!</span>                
                <select id="natList" name="natList" data-ng-model="natList" class="form-control">
                <option value="السعودية">السعودية</option>
                <option value="الكويتية">الكويتية</option>
                <option value="الاماراتية">الاماراتية</option>
                <option value="البحرينية">البحرينية</option>
                <option value="القطرية">القطرية</option>
                <option value="العمانية">العمانية</option>
                <option value="المصرية">المصرية</option>
                <option value="الاردنية">الاردنية</option>
                <option value="السورية">السورية</option>
                <option value="اللبنانية">اللبنانية</option>
                <option value="التونسية">التونسية</option>
                <option value="المغربية">المغربية</option>
                <option value="اليمنية">اليمنية</option>
                <option value="العراقية">العراقية</option>
                <option value="الجزائرية">الجزائرية</option>
                <option value="الموريتانية">الموريتانية</option>
                <option value="أخرى">أخرى</option>
                </select>
            </div>            
            
		    <div class="form-group">
                <label dir="rtl" for="langList">العمر</label>
                <div style="clear:both;"></div>                
                <select id="ageList" name="ageList" data-ng-model="ageList" class="form-control">
                <option value="15-">15-</option>
                <option value="16-25">16-25</option>
                <option value="26-35">26-35</option>
                <option value="36-50">36-50</option>
                <option value="50+">50+</option>
                </select>
            </div>          

            <div class="form-group">
<!--                <span class="label label-danger" data-ng-show="submitted && helpForm.tel.$error">Invalid phone numer</span> -->
                <input dir="rtl" type="tel" placeholder="رقم الواتس للنساء فقط" name="whatstel" data-ng-model="whatstel" class="form-control" required />
            </div> 
            
		    <div class="form-group">
                <label dir="rtl" for="langList">المؤهل العلمي</label>
                <div style="clear:both;"></div>
                <select id="langList" name="degreeList" data-ng-model="degreeList" class="form-control">
                <option value="لمتوسطة واقل">المتوسطة واقل </option>
                <option value="الثانوية">الثانوية</option>
                <option value="دبلوم">دبلوم</option>
                <option value="دبلوم عالي">دبلوم عالي</option>
                <option value="بكالوريوس">بكالوريوس</option>
                <option value="الماجستير">الماجستير</option>
                <option value="اعلى من الدكتوراة">الدكتوراة</option>
                </select>
            </div>
            
		    <div class="form-group">
                <label dir="rtl" for="langList">القسم الذي تريد المساهمة فيه</label>
                <div style="clear:both;"></div>
                <select id="contestList" name="contestList" data-ng-model="contestList" class="form-control">
                <option value="الدعوة والارشاد">الدعوة والارشاد</option>
                <option value="دعوة غير المسلمين ">دعوة غير المسلمين </option>
                <option value=" متابعة المسلمين الجدد"> متابعة المسلمين الجدد</option>
                <option value=" توعية المسلمين"> توعية المسلمين</option>
                <option value=" العلاقات العامة"> العلاقات العامة</option>
                <option value=" الاعلام "> الاعلام </option>
                <option value="تنمية الموارد المالية ">تنمية الموارد المالية </option>
                </select>
            </div>

            <div class="form-group">
<!--                <span class="label label-danger" data-ng-show="submitted && helpForm.tel.$error">Invalid phone numer</span> -->
                <textarea rows="3" dir="rtl" placeholder="مهاراتك" name="skills" data-ng-model="skills" class="form-control"></textarea>
            </div>                         

		    <button data-ng-disabled="progress.active()" data-ng-click="submit(helpForm)" class="btn btn-success btn-lg btn-block btn-default">
			<span class="glyphicon glyphicon-flash"></span>
			الإرسال</button>
    	</form>
  </div>
</div>   
       
  </ion-content>
</ion-view>