.largeButtonMenuImgContainer {
  min-width: 150px;
  width: 95%;
  min-height: 120px;
  height: 28%;
  border-radius: 5px;
  background: rgb(247, 247, 247);
  background-repeat: no-repeat;
  margin-bottom: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.largeButtonMenuImgContainer a {
	display: table-cell;
}
.largeButtonMenuImage {
  min-width: 150px;
  width: 30%;
  padding: 0px;
}
.largeButtonMenuItemBg {
  min-width: 150px;
  width: 30%;
  text-align: center;
  color: #000000;
  font-size: 18px;
  font-weight: 100;
  padding-top: 5px;
}
img.largebuttonmenucenter {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  max-width: 64px;
}